<ion-button class="social-button" (click)="openOAuth()" [ariaLabel]="provider.name"
    fill="outline">
    @if (provider.name?.toLowerCase().includes('google')) {
        <img src="assets/img/icons/google.svg" alt="Google" class="social-icon" aria-hidden="true" style="width: 40px; height: 40px; object-fit: contain; border-radius: 50%;" />
    } @else if (provider.name?.toLowerCase().includes('microsoft')) {
        <img src="assets/img/icons/microsoft.svg" alt="Microsoft" class="social-icon" aria-hidden="true" style="width: 40px; height: 40px; object-fit: contain; border-radius: 50%;" />
    } @else if (provider.name?.toLowerCase().includes('facebook')) {
        <ion-icon name="logo-facebook" class="social-icon" style="font-size: 40px; width: 40px; height: 40px; border-radius: 50%;" />
    } @else if (provider.name?.toLowerCase().includes('twitter')) {
        <ion-icon name="logo-twitter" class="social-icon" style="font-size: 40px; width: 40px; height: 40px; border-radius: 50%;" />
    } @else if (provider.iconurl) {
        <img [src]="provider.iconurl" alt="" class="social-icon" aria-hidden="true" style="width: 40px; height: 40px; object-fit: contain; border-radius: 50%;" (error)="provider.iconurl = ''" />
    }
</ion-button>
