@if ((showLoginForm || isBrowserSSO) && (loginMethods.length || identityProviders.length || showScanQR)) {
    <div class="social-login-separator">
        <div class="separator-line"></div>
        <span class="separator-text">{{ 'core.login.or' | translate }}</span>
        <div class="separator-line"></div>
    </div>
}

@if (loginMethods.length) {
    <div class="social-login-buttons">
        <ion-button [fill]="'outline'" class="social-button" *ngFor="let method of loginMethods"
            (click)="method.action()" [ariaLabel]="method.name">
            @if (method.icon) {
                <ion-icon [name]="method.icon" />
            }
        </ion-button>
    </div>
}

@if (showScanQR) {
    <ion-button expand="block" fill="outline" class="social-button qr-button"
        (click)="showInstructionsAndScanQR()">
        <ion-icon slot="start" name="fas-qrcode" aria-hidden="true" />
        {{ 'core.scanqr' | translate }}
    </ion-button>
}

<!-- Identity providers. -->
@if (identityProviders.length) {
    <div class="social-login-buttons">
        <core-identity-provider *ngFor="let provider of identityProviders" [provider]="provider" [launchurl]="siteConfig?.launchurl"
            [redirectData]="redirectData" [siteUrl]="siteUrl" />
    </div>
}
