<ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border">
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>

        <ion-buttons slot="end">
            @if (authInstructions) {
                <ion-button fill="clear" (click)="showAuthInstructions()" [ariaLabel]="'core.login.instructions' | translate">
                    <ion-icon slot="icon-only" name="far-circle-question" aria-hidden="true" />
                </ion-button>
            }
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    @if (!isMinor) {
        <core-loading [hideUntil]="settingsLoaded">
            <!-- Header Section -->
            <div class="login-header">
                <div class="logo-container">
                    <img src="assets/img/login_logo.png" alt="App Logo" class="app-logo" />
                </div>
            </div>


            <div class="list-item-limited-width login-form-container">
                @if (!allRequiredSupported) {
                    <ion-list class="ion-padding">
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                {{ 'core.login.signuprequiredfieldnotsupported' | translate }}
                            </ion-label>
                        </ion-item>
                        <ion-button expand="block" [href]="signupUrl" core-link [autoLogin]="false" [showBrowserWarning]="false">
                            {{ 'core.openinbrowser' | translate }}
                        </ion-button>
                    </ion-list>
                } @else if (settingsLoaded && settings) {

                    @if (ageDigitalConsentVerification) {
                        <!-- Age verification. -->
                        <form [formGroup]="ageVerificationForm" (ngSubmit)="verifyAge($event)" #ageForm>

                            <ion-item-divider class="ion-text-wrap">
                                <ion-label>
                                    <h2>{{ 'core.agelocationverification' | translate }}</h2>
                                </ion-label>
                            </ion-item-divider>

                            <ion-item class="ion-text-wrap">
                                <ion-input labelPlacement="stacked" type="number" name="age" placeholder="0" formControlName="age"
                                    autocapitalize="none" autocorrect="off">
                                    <div slot="label" [core-mark-required]="true">{{ 'core.whatisyourage' | translate }}</div>
                                </ion-input>
                            </ion-item>

                            <ion-item class="ion-text-wrap">
                                <ion-select labelPlacement="stacked" name="country" formControlName="country"
                                    [cancelText]="'core.cancel' | translate" [okText]="'core.ok' | translate"
                                    [placeholder]="'core.login.selectacountry' | translate">
                                    <div slot="label" [core-mark-required]="true">{{ 'core.wheredoyoulive' | translate }}</div>
                                    <ion-select-option value="">{{ 'core.login.selectacountry' | translate }}</ion-select-option>
                                    <ion-select-option *ngFor="let country of countries"
                                        [value]="country.code">{{country.name}}</ion-select-option>
                                </ion-select>
                            </ion-item>

                            <!-- Submit button. -->
                            <div class="ion-padding">
                                <ion-button expand="block" type="submit" [disabled]="!ageVerificationForm.valid">
                                    {{ 'core.proceed' | translate }}
                                </ion-button>
                            </div>

                            <ion-item class="ion-text-wrap">
                                <ion-label>
                                    <p class="item-heading">{{ 'core.whyisthisrequired' | translate }}</p>
                                    <p>{{ 'core.explanationdigitalminor' | translate }}</p>
                                </ion-label>
                            </ion-item>
                        </form>
                    } @else if (site) {
                        <!-- Signup form. -->
                        <form [formGroup]="signupForm" (ngSubmit)="create($event)" #signupFormEl class="login-form">

                            <!-- Full Name Field -->
                            <div class="input-group">
                                <label class="input-label" for="firstname">{{ 'core.login.full_name' | translate }}</label>
                                <div class="input-container">
                                    <ion-input type="text" name="firstname" id="firstname" placeholder="Ahmed@example.com"
                                        formControlName="firstname" autocapitalize="none" autocorrect="off" class="custom-input" />
                                    <ion-icon name="person-outline" class="input-icon" />
                                </div>
                                <core-input-errors [control]="signupForm.controls.firstname" [errorMessages]="namefieldsErrors?.['firstname']" />
                            </div>

                            <!-- Email Field -->
                            <div class="input-group">
                                <label class="input-label" for="email">{{ 'core.login.email_address' | translate }}</label>
                                <div class="input-container">
                                    <ion-input type="email" name="email" id="email" placeholder="Ahmed@example.com"
                                        formControlName="email" autocapitalize="none" autocorrect="off" class="custom-input" />
                                    <ion-icon name="mail-outline" class="input-icon" />
                                </div>
                                <core-input-errors [control]="signupForm.controls.email" [errorMessages]="emailErrors" />
                            </div>

                            <!-- Password Field -->
                            <div class="input-group">
                                <label class="input-label" for="password">{{ 'core.login.password' | translate }}</label>
                                <div class="input-container">
                                    <ion-input [type]="showPassword ? 'text' : 'password'" name="password" id="password" [placeholder]="'core.login.password_placeholder' | translate"
                                        formControlName="password" [clearOnEdit]="false" autocomplete="new-password" class="custom-input" />
                                    <button type="button" class="password-toggle-icon" (click)="togglePasswordVisibility()">
                                        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" />
                                    </button>
                                    <ion-icon name="lock-closed-outline" class="input-icon" />
                                </div>
                                @if (settings.passwordpolicy) {
                                    <div class="password-requirements">
                                        <div class="requirement" [class.valid]="isPasswordRequirementMet('length')">
                                            <ion-icon name="checkmark-circle" class="requirement-icon" />
                                            <span>{{ 'core.login.password_length' | translate }}</span>
                                        </div>
                                        <div class="requirement" [class.valid]="isPasswordRequirementMet('lowercase')">
                                            <ion-icon name="checkmark-circle" class="requirement-icon" />
                                            <span>{{ 'core.login.password_lowercase' | translate }}</span>
                                        </div>
                                        <div class="requirement" [class.valid]="isPasswordRequirementMet('special')">
                                            <ion-icon name="checkmark-circle" class="requirement-icon" />
                                            <span>{{ 'core.login.password_special' | translate }}</span>
                                        </div>
                                        <div class="requirement" [class.valid]="isPasswordRequirementMet('uppercase')">
                                            <ion-icon name="checkmark-circle" class="requirement-icon" />
                                            <span>{{ 'core.login.password_uppercase' | translate }}</span>
                                        </div>
                                    </div>
                                }
                                <core-input-errors [control]="signupForm.controls.password" [errorMessages]="passwordErrors" />
                            </div>

                            <!-- Confirm Password Field -->
                            <div class="input-group">
                                <label class="input-label" for="password2">{{ 'core.login.confirm_password' | translate }}</label>
                                <div class="input-container">
                                    <ion-input [type]="showConfirmPassword ? 'text' : 'password'" name="password2" id="password2" [placeholder]="'core.login.confirm_password_placeholder' | translate"
                                        formControlName="password2" [clearOnEdit]="false" class="custom-input" />
                                    <button type="button" class="password-toggle-icon" (click)="toggleConfirmPasswordVisibility()">
                                        <ion-icon [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'" />
                                    </button>
                                    <ion-icon name="lock-closed-outline" class="input-icon" />
                                </div>
                                <core-input-errors [control]="signupForm.controls.password2" [errorMessages]="password2Errors" />
                            </div>
                            <!-- Additional Name Fields -->
                            <div *ngFor="let nameField of settings.namefields" class="input-group">
                                <label class="input-label" [for]="nameField">{{ 'core.user.' + nameField | translate }}</label>
                                <div class="input-container">
                                    <ion-input type="text" [name]="nameField" [id]="nameField" [placeholder]="'core.user.' + nameField | translate"
                                        formControlName="{{nameField}}" autocorrect="off" class="custom-input" />
                                    <ion-icon name="person-outline" class="input-icon" />
                                </div>
                                <core-input-errors [control]="signupForm.controls[nameField]"
                                    [errorMessages]="namefieldsErrors![nameField]" />
                            </div>

                            <!-- City Field -->
                            <div class="input-group">
                                <label class="input-label" for="city">{{ 'core.user.city' | translate }}</label>
                                <div class="input-container">
                                    <ion-input type="text" name="city" id="city" [placeholder]="'core.user.city' | translate"
                                        formControlName="city" autocorrect="off" class="custom-input" />
                                    <ion-icon name="location-outline" class="input-icon" />
                                </div>
                            </div>

                            <!-- Country Field -->
                            <div class="input-group">
                                <label class="input-label" for="country">{{ 'core.user.country' | translate }}</label>
                                <div class="input-container">
                                    <ion-select name="country" formControlName="country" [placeholder]="'core.login.selectacountry' | translate"
                                        [cancelText]="'core.cancel' | translate" [okText]="'core.ok' | translate" class="custom-select">
                                        <ion-select-option value="">{{ 'core.login.selectacountry' | translate }}</ion-select-option>
                                        <ion-select-option *ngFor="let country of countries"
                                            [value]="country.code">{{country.name}}</ion-select-option>
                                    </ion-select>
                                    <ion-icon name="globe-outline" class="input-icon" />
                                </div>
                            </div>

                            <!-- Other categories. -->
                            <ng-container *ngFor="let category of categories">
                                <div class="category-section">
                                    <h3 class="category-title">{{ category.name }}</h3>
                                    <core-user-profile-field *ngFor="let field of category.fields" [field]="field" [edit]="true" [signup]="true"
                                        registerAuth="email" [form]="signupForm" />
                                </div>
                            </ng-container>

                            <!-- ReCAPTCHA -->
                            @if (settings.recaptchapublickey) {
                                <div class="recaptcha-section">
                                    <h3 class="section-title">{{ 'core.login.security_question' | translate }}</h3>
                                    <core-recaptcha [publicKey]="settings.recaptchapublickey" [model]="captcha" [siteUrl]="site.siteUrl"
                                        [showRequiredError]="formSubmitClicked" />
                                </div>
                            }

                            <!-- Site policy (if any). -->
                            @if (settings.sitepolicy) {
                                <div class="policy-section">
                                    <h3 class="section-title">{{ 'core.policy.policyagreement' | translate }}</h3>
                                    <div class="policy-link">
                                        <a [href]="settings.sitepolicy" core-link capture="false">
                                            {{ 'core.policy.policyagreementclick' | translate }}
                                        </a>
                                    </div>
                                    <div class="policy-checkbox">
                                        <ion-checkbox name="policyagreed" formControlName="policyagreed">
                                            <ion-label [core-mark-required]="true">{{ 'core.policy.policyacceptmandatory' | translate }}</ion-label>
                                        </ion-checkbox>
                                        <core-input-errors [control]="signupForm.controls.policyagreed" [errorMessages]="policyErrors" />
                                    </div>
                                </div>
                            }

                            <!-- Submit button -->
                            <ion-button expand="block" type="submit" class="login-button">
                                {{ 'core.login.create_account_button' | translate }}
                            </ion-button>
                            <!-- Remove this once Ionic fixes this bug: https://github.com/ionic-team/ionic-framework/issues/19368 -->
                            <input type="submit" class="core-submit-hidden-enter" />

                            <!-- Login Link -->
                            <div class="login-link-container">
                                <p>{{ 'core.login.already_have_account' | translate }} <a href="#" (click)="goToLogin($event)">{{ 'core.login.signin' | translate }}</a></p>
                            </div>
                        </form>
                    }

                }
            </div>
        </core-loading>
    }

    <div class="list-item-limited-width">
        @if (allRequiredSupported && isMinor) {
            <ion-list>
                <ion-item-divider class="ion-text-wrap">
                    <ion-label>
                        @if (siteName) {
                            <h2 class="item-heading ion-padding">
                                <core-format-text [text]="siteName" [filter]="false" />
                            </h2>
                        }
                    </ion-label>
                </ion-item-divider>
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'core.considereddigitalminor' | translate }}</p>
                        <p>{{ 'core.digitalminor_desc' | translate }}</p>
                        @if (supportName) {
                            <p>{{ supportName }}</p>
                        }
                        @if (supportEmail) {
                            <p>{{ supportEmail }}</p>
                        }
                    </ion-label>
                </ion-item>
                <div class="ion-padding">
                    @if (!supportName && !supportEmail) {
                        <ion-button expand="block" (click)="showContactOnSite()">
                            {{ 'core.openinbrowser' | translate }}
                        </ion-button>
                    }
                </div>
            </ion-list>
        }
    </div>
</ion-content>
